<div class="loginMain">
    <!--  Open Navbar-->
    <!-- <nav class="navbar ">
        <a class="navbar-brand" routerLink="/homepage">QUIZZ</a>
    </nav> -->
    <!--  Close Navbar-->
    <!-- <div class="row" style="max-width: 520px; margin: 0 auto; margin-top: 100px; ">
        <form class="col s12" #form="ngForm">
            <flash-messages></flash-messages>

            <div class="row">
                <div class="input-field col s6">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="loginCl.password">
                    <label for="password">Password</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="loginCl.email">
                    <label for="email">Email</label>
                </div>
                <button class="btn" type="submit" (click)="onLogin()">Login</button>
                <p class="register-link">Not a member?
                    <a routerLink="/signup">Register</a>
                </p>
            </div>

        </form>
    </div> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="./assets/Images/user-tie.svg" id="icon" style="height: 50px;" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form #form="ngForm">
                <flash-messages></flash-messages>
                <input type="text" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="loginCl.email">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="loginCl.password">
                <input type="submit" class="fadeIn fourth" (click)="onLogin()" value="Log In">
            </form>

        </div>
    </div>

</div>