<app-navbar></app-navbar>
<div class="RegisterMain">
    <!--  Open Navbar-->
    <!-- <nav class="navbar ">
        <a class="navbar-brand" routerLink="/homepage">QUIZZ</a>
    </nav> -->
    <!--  Close Navbar-->
    <!-- <form class="col s12" [formGroup]='signupForm' (ngSubmit)='onSubmit()'>
            <flash-messages></flash-messages>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" formControlName="first_name">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" formControlName="last_name">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" formControlName="username">
                    <label for="last_name">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" formControlName="password">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" formControlName="cpassword">
                    <label for="password">Repeat Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" formControlName="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn" type="submit">SignUp</button>
            </div>
            <div class="form-group">
                <p class="login-link">Already a member?
                    <a routerLink="/login">Login</a>
                </p>
            </div>
        </form> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="wrapper fadeInDown" id="wrap">
        <div id="formContent">

            <div class="row" style="max-width: 800px; margin: 0 auto;">
                <!-- Default form register -->
                <form class="text-center " id="for" [formGroup]='signupForm' (ngSubmit)='onSubmit()'>
                    <flash-messages></flash-messages>
                    <p class="h4 mb-4" style="text-align: center; color: white;">Sign up</p>

                    <div class="row">
                        <div class="col-md-6">
                            <input id="first_name" type="text" class="validate" formControlName="first_name" placeholder="First Name" style="width: 200px;">
                        </div>
                        <div class="col-md-6">
                            <input id="last_name" type="text" class="validate" formControlName="last_name" placeholder="Last Name" style="width: 200px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input id="username" type="text" class="validate" formControlName="username" placeholder="username" style="width: 200px;">
                        </div>
                        <div class="col-md-6">
                            <input id="email" type="email" class="validate" formControlName="email" placeholder="Email" style="width: 200px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input id="password" type="password" class="validate" formControlName="password" placeholder="Password" style="width: 200px;">
                        </div>
                        <div class="col-md-6">
                            <input id="password" type="password" class="validate" formControlName="cpassword" placeholder="Repeat Password" style="width: 200px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn" type="submit" style="background-color: #F45D01;">SignUp</button>
                        </div>
                        <div class="col-md-6">
                            <p class="login-link">Already a member?
                                <a routerLink="/login" style="color:white">Login</a>
                            </p>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>